@import "../../public/static/styles/variables.scss";
@import "../../public/static/styles/mixins.scss";

.registration-form {
    width: 400px;
    height: 740px;
    margin: 118px auto;
    padding: 20px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
}

.registration-form-title {
    @include title(500, 1.5em, center, 21px);
}

.registration-form-label {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 13px;
    color: var(--secondary-color);
    display: block;
    margin: 0;
    padding: 0;
}


.registration-form-input {
    @include input-style(390px, 30px, 8px);
}

.registration-form-error-message{
    left: 0;
    margin: -28px 0 0 ;
    display: block;
    color: var(--error-message-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 11px;
    padding: 0;
    background-color: var(--white-color);
}

.registration-form-button {
    @include button-style(280px, 40px, var(--main-color), var(--white-color), 1px solid var(--main-color), 20px, pointer, 17px, "", 0, 0, block, static);
}

.registration-form-login {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 14px;
    color: var(--black-color);
    margin-top: 80px;
}

.form-toggle{
    position: relative;
    background: none;
    border: none;
    margin-left: 393px;
    bottom: 51px;
    height: 0;
    color: var(--dark-grey-color);
}
