@import url("../../public/static/styles/variables.css");

.login-form {
    width: 380px;
    height: 490px;
    margin: 118px auto;
    padding: 20px;
    border: 1px solid var(--main-color);
    border-radius: 20px;
}

.login-form-title {
    text-align: center;
    margin-bottom : 42px;
    font-family: var(--main-font);
    font-weight: 500;
}

.login-form-label {
    border: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 13px;
    color: var(--secondary-color);
    display: block;
    margin-bottom: 0;
}

.login-form-input {
    width: 375px;
    padding: 0;
    margin-bottom: 52px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid var(--black-color) ;
}

.login-form-error-message{
    left: 0;
    margin: -40px 0 0 ;
    display: block;
    color: var(--error-message-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 11px;
    padding: 0;
    background-color: var(--white-color);
}


.login-form-forgot-password {
    display: block;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 73px;
    color: var(--main-color);
}

.login-form-button {
    display: block;
    margin: auto;
    width: 280px;
    height: 40px;
    background-color: var(--main-color);
    color: var(--white-color);
    border: 1px solid var(--main-color);
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
}

.login-form-registration {
    display: flex;
    justify-content: center;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 14px;
    color: var(--black-color);
    margin-top: 10px;
}

.form-toggle{
    position: relative;
    background: none;
    border: none;
    margin-left: 375px;
    bottom: 72px;
    height: 0;
    color: var(--dark-grey-color);
}
