@import "../../public/static/styles/variables.scss";
@import "../../public/static/styles/mixins.scss";

.change-data-form{
    margin-top: 100px;
    max-width: 850px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.change-data-form-label {
    @include form-label($text-align: left, $margin-left: 0, $padding-left: 0);
}

.form-input-message-error{
    position: relative;
}

.change-data-form-input {
    @include input-style(430px, 47px, 10px);
}

.change-data-form-error-message {
    @include form-error-message($margin-top: -45px, $position: absolute, $width: 430px);
}

.change-data-form-button{
    @include button-style(280px, 40px, var(--main-color), var(--white-color), 1px solid var(--main-color), 20px, pointer, 17px, "", 0, 0, block, static);
}
