@import url("../../public/static/styles/variables.css");

.change-data-form{
    margin-top: 100px;
    max-width: 850px;
    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


.change-data-form-label{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 13px;
    color: var(--secondary-color);
}

.form-input-message-error{
    position: relative;
}

.change-data-form-input{
    width: 430px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 47px;
    border: none;
    border-bottom: 1px solid var(--black-color);
}

.change-data-form-input:focus {
    outline: none;
}

.change-data-form-error-message{
    position: absolute;
    margin: -45px 0 0;
    color: var(--error-message-color);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 11px;
    padding: 0;
    width: 430px;
}

.change-data-form-button{
    display: block;
    margin-top: 51px;
    width: 280px;
    height: 40px;
    background-color: var(--main-color);
    color: var(--white-color);
    border: 1px solid var(--main-color);
    border-radius: 20px;
    cursor: pointer;
    font-size: 17px;
}
